In [2]:
import json
import warnings
import pandas as pd
import numpy as np

# Import Data from CSV

In [3]:
warnings.filterwarnings('ignore')
data_2005 = pd.read_csv('./mortality-data/2005_data.csv', delimiter=',')
data_2006 = pd.read_csv( './mortality-data/2006_data.csv', na_values=['NA','?'])
data_2007 = pd.read_csv( './mortality-data/2007_data.csv', na_values=['NA','?'])

In [4]:
warnings.filterwarnings('ignore')
data_2008 = pd.read_csv( './mortality-data/2008_data.csv', na_values=['NA','?'])
data_2009 = pd.read_csv( './mortality-data/2009_data.csv', na_values=['NA','?'])
data_2010 = pd.read_csv( './mortality-data/2010_data.csv', na_values=['NA','?'])

In [5]:
warnings.filterwarnings('ignore')
data_2011 = pd.read_csv( './mortality-data/2011_data.csv', na_values=['NA','?'])
data_2012 = pd.read_csv( './mortality-data/2012_data.csv', na_values=['NA','?'])
data_2013 = pd.read_csv( './mortality-data/2013_data.csv', na_values=['NA','?'])

In [6]:
warnings.filterwarnings('ignore')
data_2014 = pd.read_csv( './mortality-data/2014_data.csv', na_values=['NA','?'])
data_2015 = pd.read_csv( './mortality-data/2015_data.csv', na_values=['NA','?'])

In [ ]:
data_2005.columns

# Drop Useless Columns

In [29]:
unuseful_colnames=[
       'resident_status',
       'education_reporting_flag', 'detail_age_type',
       'detail_age', 'age_substitution_flag', 'age_recode_52','age_recode_12','icd_code_10th_revision',
       'infant_age_recode_22',
       'place_of_death_and_decedents_status', 
       'day_of_week_of_death', 
       'method_of_disposition','autopsy', 
       'place_of_injury_for_causes_w00_y34_except_y06_and_y07_',
       '358_cause_recode', 'activity_code',
       '130_infant_cause_recode', '39_cause_recode',
       'number_of_entity_axis_conditions', 'entity_condition_1',
       'entity_condition_2', 'entity_condition_3', 'entity_condition_4',
       'entity_condition_5', 'entity_condition_6', 'entity_condition_7',
       'entity_condition_8', 'entity_condition_9', 'entity_condition_10',
       'entity_condition_11', 'entity_condition_12', 'entity_condition_13',
       'entity_condition_14', 'entity_condition_15', 'entity_condition_16',
       'entity_condition_17', 'entity_condition_18', 'entity_condition_19',
       'entity_condition_20', 'number_of_record_axis_conditions',
       'record_condition_1', 'record_condition_2', 'record_condition_3',
       'record_condition_4', 'record_condition_5', 'record_condition_6',
       'record_condition_7', 'record_condition_8', 'record_condition_9',
       'record_condition_10', 'record_condition_11', 'record_condition_12',
       'record_condition_13', 'record_condition_14', 'record_condition_15',
       'record_condition_16', 'record_condition_17', 'record_condition_18',
       'record_condition_19', 'record_condition_20', 
       'race','bridged_race_flag', 'race_imputation_flag', 'race_recode_3',
       'hispanic_origin', 'hispanic_originrace_recode']

In [8]:
df2005=data_2005.drop(unuseful_colnames,axis=1)

In [9]:
df2005.head(5)

,education_1989_revision,education_2003_revision,month_of_death,sex,age_recode_27,marital_status,current_data_year,injury_at_work,manner_of_death,113_cause_recode,race_recode_5
0,11.0,NaN,1,F,15,M,2005,U,7.0,28,1
1,13.0,NaN,1,M,18,D,2005,U,7.0,84,1
2,12.0,NaN,1,F,21,D,2005,U,7.0,70,1
3,12.0,NaN,1,M,16,S,2005,U,7.0,46,1
4,14.0,NaN,1,F,19,M,2005,U,7.0,27,1

In [10]:
df2006=data_2006.drop(unuseful_colnames,axis=1)

In [11]:
df2006.head(5)

,education_1989_revision,education_2003_revision,month_of_death,sex,age_recode_27,marital_status,current_data_year,injury_at_work,manner_of_death,113_cause_recode,race_recode_5
0,10.0,NaN,1,F,22,W,2006,U,NaN,67,1
1,6.0,NaN,1,F,24,W,2006,U,NaN,63,1
2,6.0,NaN,1,M,21,M,2006,U,NaN,100,1
3,12.0,NaN,1,M,21,W,2006,U,7.0,86,1
4,13.0,NaN,1,F,20,D,2006,U,7.0,29,2

In [13]:
df2007=data_2007.drop(unuseful_colnames,axis=1)

In [14]:
df2007.head(5)

,education_1989_revision,education_2003_revision,month_of_death,sex,age_recode_27,marital_status,current_data_year,injury_at_work,manner_of_death,113_cause_recode,race_recode_5
0,2.0,NaN,1,M,20,M,2007,U,7.0,25,1
1,12.0,NaN,1,M,13,M,2007,U,2.0,125,1
2,12.0,NaN,1,F,19,D,2007,U,7.0,43,1
3,8.0,NaN,1,M,20,S,2007,U,7.0,23,1
4,99.0,NaN,1,F,16,M,2007,U,7.0,67,2

In [16]:
df2008=data_2008.drop(unuseful_colnames,axis=1)

In [17]:
df2008.head(5)

,education_1989_revision,education_2003_revision,month_of_death,sex,age_recode_27,marital_status,current_data_year,injury_at_work,manner_of_death,113_cause_recode,race_recode_5
0,12.0,NaN,1,M,19,M,2008,U,7.0,21,1
1,9.0,NaN,1,M,21,M,2008,U,7.0,63,1
2,14.0,NaN,1,F,22,W,2008,U,7.0,41,1
3,12.0,NaN,1,M,16,S,2008,U,7.0,24,1
4,6.0,NaN,1,F,18,S,2008,U,7.0,95,1

In [20]:
df2009=data_2009.drop(unuseful_colnames,axis=1)

In [22]:
df2010=data_2010.drop(unuseful_colnames,axis=1)

In [24]:
df2011=data_2011.drop(unuseful_colnames,axis=1)

In [28]:
df2012=data_2012.drop(unuseful_colnames,axis=1)

In [31]:
df2013=data_2013.drop(unuseful_colnames,axis=1)

In [33]:
df2014=data_2014.drop(unuseful_colnames,axis=1)

In [35]:
df2015=data_2015.drop(unuseful_colnames,axis=1)

In [36]:
df = pd.concat([df, df2015], ignore_index=True)

In [37]:
df.head(5)

,113_cause_recode,age_recode_27,current_data_year,education_1989_revision,education_2003_revision,icd_code_10,injury_at_work,manner_of_death,marital_status,month_of_death,race_recode_5,sex
0,28,15,2005,11.0,NaN,NaN,U,7.0,M,1,1,F
1,84,18,2005,13.0,NaN,NaN,U,7.0,D,1,1,M
2,70,21,2005,12.0,NaN,NaN,U,7.0,D,1,1,F
3,46,16,2005,12.0,NaN,NaN,U,7.0,S,1,1,M
4,27,19,2005,14.0,NaN,NaN,U,7.0,M,1,1,F

In [38]:
df.shape

(27720673, 12)

In [53]:
df.to_csv('df.csv')

# Try Convert education from 1989 revision to 2003 version

In [40]:
len(df['education_1989_revision'])

27720673

In [41]:
edu_1989=df['education_1989_revision']
edu_2003=df['education_2003_revision']

In [42]:
df_edu = pd.DataFrame(list(zip(edu_1989, edu_2003)), 
               columns =['edu_1989', 'edu_2003'])

In [44]:
#make a dict to map 1989 with 2003 values
edu1989 = [0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0,7.0,8.0,9.0,10.0,11.0,12.0,13.0,14.0,15.0,16.0,17.0,99]
edu2003 = [9, 1, 1, 1, 1, 1, 1,1,1,2,2,2,3,4,4,4,6,7,9]

df_edu_dict = pd.DataFrame({'edu_1989':edu1989, 'edu_2003':edu2003})

dict = df_edu_dict.set_index('edu_1989').to_dict()['edu_2003']

df_edu['edu_2003'] = df_edu['edu_2003'].fillna(df_edu['edu_1989'].map(dict))
#df_edu['edu_2003'] = df_edu['edu_2003'].fillna(df_edu['edu_1989'].apply(lambda x: dict.get(x)))
#df.loc[df_edu['edu_2003'].isnull(), 'edu_2003'] = df_edu['edu_1989'].map(dict)

In [45]:
df_edu.head(5)

   edu_1989  edu_2003
0      11.0       2.0
1      13.0       4.0
2      12.0       3.0
3      12.0       3.0
4      14.0       4.0

In [46]:
df['education_2003_revision'] = df['education_2003_revision'].fillna(df['education_1989_revision'].map(dict))

In [52]:
df.head(5)

,113_cause_recode,age_recode_27,current_data_year,education_2003_revision,injury_at_work,manner_of_death,marital_status,month_of_death,race_recode_5,sex
0,28,15,2005,2.0,U,7.0,M,1,1,F
1,84,18,2005,4.0,U,7.0,D,1,1,M
2,70,21,2005,3.0,U,7.0,D,1,1,F
3,46,16,2005,3.0,U,7.0,S,1,1,M
4,27,19,2005,4.0,U,7.0,M,1,1,F

In [48]:
df.isnull().sum()

113_cause_recode                  0
age_recode_27                     0
current_data_year                 0
education_1989_revision    19525734
education_2003_revision           0
icd_code_10                25172809
injury_at_work                    0
manner_of_death             5656790
marital_status                    0
month_of_death                    0
race_recode_5                     0
sex                               0
dtype: int64

In [49]:
#drop education_1989_revision
df=df.drop(['education_1989_revision'],axis=1)

In [51]:
df=df.drop(['icd_code_10'],axis=1)

# Find Top 10 Causes of Death

In [55]:
from collections import Counter
def top_k(numbers, k=10):
    c = Counter(numbers)
    most_common = [key for key, val in c.most_common(k)]

    return most_common

In [56]:
print(top_k(df["113_cause_recode"]))

[111, 63, 27, 70, 59, 86, 68, 52, 46, 43]

# For different causes of death, how num of death change against age

In [54]:
df.head(5)

,113_cause_recode,age_recode_27,current_data_year,education_2003_revision,injury_at_work,manner_of_death,marital_status,month_of_death,race_recode_5,sex
0,28,15,2005,2.0,U,7.0,M,1,1,F
1,84,18,2005,4.0,U,7.0,D,1,1,M
2,70,21,2005,3.0,U,7.0,D,1,1,F
3,46,16,2005,3.0,U,7.0,S,1,1,M
4,27,19,2005,4.0,U,7.0,M,1,1,F

In [58]:
df_111.head(5)

,113_cause_recode,age_recode_27,current_data_year,education_2003_revision,injury_at_work,manner_of_death,marital_status,month_of_death,race_recode_5,sex
24,111,21,2005,3.0,U,7.0,W,1,1,M
25,111,15,2005,3.0,U,7.0,M,1,3,M
32,111,21,2005,1.0,U,7.0,W,1,1,M
47,111,19,2005,4.0,U,7.0,M,1,1,M
57,111,20,2005,3.0,U,7.0,M,1,1,F

In [57]:
df_111= df.loc[df['113_cause_recode'] == 111]

In [61]:
df_111_age=df_111.groupby(['age_recode_27']).size().reset_index(name="Num of death")

In [64]:
df_111_age.head(30)

    age_recode_27  Num of death
0               1          2465
1               2          7546
2               3          2357
3               4          1410
4               5          1060
5               6           889
6               7          3917
7               8          4860
8               9          8098
9              10         13471
10             11         16721
11             12         21037
12             13         29661
13             14         47721
14             15         75964
15             16        110965
16             17        136745
17             18        155994
18             19        172392
19             20        207423
20             21        293227
21             22        439539
22             23        556378
23             24        465914
24             25        207043
25             26         45311
26             27           150

In [111]:
#try single predictor - 'age_recode_27'
#df_single
#Poisson Distribution
#not dummies
import statsmodels.api as sm
x=df_111_age['age_recode_27']
x_pd = sm.add_constant(x)
x = sm.add_constant(x_pd)
y=df_111_age['Num of death']
glm_model = sm.GLM(y, x_pd, family=sm.families.Poisson())
glm_model_results = glm_model.fit()
print(glm_model_results.summary())

                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:           Num of death   No. Observations:                   27
Model:                            GLM   Df Residuals:                       25
Model Family:                 Poisson   Df Model:                            1
Link Function:                    log   Scale:                          1.0000
Method:                          IRLS   Log-Likelihood:            -1.1693e+06
Date:                Sat, 23 Nov 2019   Deviance:                   2.3383e+06
Time:                        17:59:36   Pearson chi2:                 1.93e+06
No. Iterations:                     6
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          z      P>|z|      [0.025      0.975]
---------------------------------------------------------------------------------
const             9.1478      0.002   4250.994      0.000       9.144       9.152
age_recode_27     0.1392    9.9e-05   1406.323      0.000       0.139       0.139
=================================================================================

In [112]:
print([glm_model_results.predict(x_pd), y])

[0      10797.203555
1      12409.943275
2      14263.572165
3      16394.070980
4      18842.794792
5      21657.275731
6      24892.145632
7      28610.196494
8      32883.599329
9      37795.305079
10     43440.654768
11     49929.230171
12     57386.980901
13     65958.669213
14     75810.679984
15     87134.250406
16    100149.182087
17    115108.107614
18    132301.394405
19    152062.781017
20    174775.855346
21    200881.500441
22    230886.452478
23    265373.137002
24    305010.974383
25    350569.373921
26    402932.668833
dtype: float64, 0       2465
1       7546
2       2357
3       1410
4       1060
5        889
6       3917
7       4860
8       8098
9      13471
10     16721
11     21037
12     29661
13     47721
14     75964
15    110965
16    136745
17    155994
18    172392
19    207423
20    293227
21    439539
22    556378
23    465914
24    207043
25     45311
26       150
Name: Num of death, dtype: int64]

In [113]:
print([glm_model_results.predict(x_pd)-y])

[0       8332.203555
1       4863.943275
2      11906.572165
3      14984.070980
4      17782.794792
5      20768.275731
6      20975.145632
7      23750.196494
8      24785.599329
9      24324.305079
10     26719.654768
11     28892.230171
12     27725.980901
13     18237.669213
14      -153.320016
15    -23830.749594
16    -36595.817913
17    -40885.892386
18    -40090.605595
19    -55360.218983
20   -118451.144654
21   -238657.499559
22   -325491.547522
23   -200540.862998
24     97967.974383
25    305258.373921
26    402782.668833
dtype: float64]

In [68]:
df_111_age_dum=pd.get_dummies(df_111_age, columns=['age_recode_27'])

In [70]:
df_111_age_dum.columns

Index(['Num of death', 'age_recode_27_1', 'age_recode_27_2', 'age_recode_27_3',
       'age_recode_27_4', 'age_recode_27_5', 'age_recode_27_6',
       'age_recode_27_7', 'age_recode_27_8', 'age_recode_27_9',
       'age_recode_27_10', 'age_recode_27_11', 'age_recode_27_12',
       'age_recode_27_13', 'age_recode_27_14', 'age_recode_27_15',
       'age_recode_27_16', 'age_recode_27_17', 'age_recode_27_18',
       'age_recode_27_19', 'age_recode_27_20', 'age_recode_27_21',
       'age_recode_27_22', 'age_recode_27_23', 'age_recode_27_24',
       'age_recode_27_25', 'age_recode_27_26', 'age_recode_27_27'],
      dtype='object')

In [76]:
df_111_age_dum.head(5)

,Num of death,age_recode_27_1,age_recode_27_2,age_recode_27_3,age_recode_27_4,age_recode_27_5,age_recode_27_6,age_recode_27_7,age_recode_27_8,age_recode_27_9,...,age_recode_27_18,age_recode_27_19,age_recode_27_20,age_recode_27_21,age_recode_27_22,age_recode_27_23,age_recode_27_24,age_recode_27_25,age_recode_27_26,age_recode_27_27
0,2465,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,7546,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2357,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1410,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1060,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [108]:
age_dummy={ 'age_recode_27_1', 'age_recode_27_2', 'age_recode_27_3',
       'age_recode_27_4', 'age_recode_27_5', 'age_recode_27_6',
       'age_recode_27_7', 'age_recode_27_8', 'age_recode_27_9',
       'age_recode_27_10', 'age_recode_27_11', 'age_recode_27_12',
       'age_recode_27_13', 'age_recode_27_14', 'age_recode_27_15',
       'age_recode_27_16', 'age_recode_27_17', 'age_recode_27_18',
       'age_recode_27_19', 'age_recode_27_20', 'age_recode_27_21',
       'age_recode_27_22', 'age_recode_27_23', 'age_recode_27_24',
       'age_recode_27_25', 'age_recode_27_26', 'age_recode_27_27'}

In [109]:
x=df_111_age_dum[age_dummy]
x_pd = sm.add_constant(x)
y=df_111_age_dum['Num of death']
glm_model = sm.GLM(y, x_pd, family=sm.families.Poisson())
glm_model_results = glm_model.fit()
print(glm_model_results.summary())

PerfectSeparationError: Perfect separation detected, results not available

In [107]:
print([glm_model_results.predict(x)],y)

ValueError: shapes (27,12) and (13,) not aligned: 12 (dim 1) != 13 (dim 0)

In [78]:
df_111_age_year=df_111.groupby(['age_recode_27','current_data_year']).size().reset_index(name="Num of death")

In [80]:
df_111_age_year.head(20)

    age_recode_27  current_data_year  Num of death
0               1               2005           227
1               1               2006           240
2               1               2007           272
3               1               2008           236
4               1               2009           191
5               1               2010           203
6               1               2011           219
7               1               2012           209
8               1               2013           201
9               1               2014           214
10              1               2015           253
11              2               2005           975
12              2               2006           941
13              2               2007          1070
14              2               2008          1014
15              2               2009           600
16              2               2010           554
17              2               2011           484
18              2               2012           470
19              2               2013           497

In [84]:
features={'age_recode_27','current_data_year'}

In [86]:
x=df_111_age_year[features]
x_pd = sm.add_constant(x)
x = sm.add_constant(x)
y=df_111_age_year['Num of death']
glm_model = sm.GLM(y, x_pd, family=sm.families.Gaussian())
glm_model_results = glm_model.fit()
print(glm_model_results.summary())

                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:           Num of death   No. Observations:                  297
Model:                            GLM   Df Residuals:                      294
Model Family:                Gaussian   Df Model:                            2
Link Function:               identity   Scale:                      1.2300e+08
Method:                          IRLS   Log-Likelihood:                -3186.1
Date:                Sat, 23 Nov 2019   Deviance:                   3.6163e+10
Time:                        17:38:02   Pearson chi2:                 3.62e+10
No. Iterations:                     3
Covariance Type:            nonrobust
=====================================================================================
                        coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------------
const             -8.419e+05   4.09e+05     -2.058      0.040   -1.64e+06   -4.02e+04
age_recode_27      1168.0028     82.624     14.136      0.000    1006.062    1329.943
current_data_year   415.7899    203.509      2.043      0.041      16.920     814.660
=====================================================================================

In [ ]:
#df_111.loc[df_111['B'].isin(['one','three'])]

In [ ]:
#df2 = pd.DataFrame(df.groupby('c1').sum().ix[:,1:].sum(axis=1), columns=['c6']).reset_index()
#df3 = pd.merge(df,df2,on='c1').set_index(df.index)

# Get data ready for Regression Model

In [ ]:
dummies=['39_cause_recode', 'age_recode_12',
       'current_data_year', 'education_2003_revision',
        'injury_at_work', 'manner_of_death',
       'marital_status', 'race_recode_5', 'sex']

In [ ]:
df_model1=pd.get_dummies(df1, columns=dummies)

In [ ]:
df_model1=df_model1 .drop(['113_cause_recode'],axis=1)

In [ ]:
#data frame has dummies
df_model1.head(5)

In [ ]:
df_model.columns

# Group by only 'age_recode_12' - Single Predictor

In [ ]:
df_trysingle=df_model1.groupby(['age_recode_12_1', 'age_recode_12_2', 'age_recode_12_3',
       'age_recode_12_4', 'age_recode_12_5', 'age_recode_12_6',
       'age_recode_12_7', 'age_recode_12_8', 'age_recode_12_9',
       'age_recode_12_10', 'age_recode_12_11', 'age_recode_12_12']).size().reset_index(name="Num of death")

In [ ]:
df_trysingle.shape

In [ ]:
df_trysingle.head(15)

In [ ]:
plt.scatter(bikes['weathersit'], bikes['cnt'])
plt.title('Scatter plot')
plt.show()

In [ ]:
import matplotlib.pyplot as plt
age=df1['age_recode_12']

In [ ]:
binblock=np.arange(0, 13,.5)
plt.hist(age, bins = binblock, rwidth=1)
plt.title("histogram for num of death")
plt.show()

In [ ]:
#try single predictor - 'age_recode_12'
#df_single
#Poisson Distribution
#not dummies
x=df_trysingle['age_recode_12']
x_pd = sm.add_constant(x)
x = sm.add_constant(x_pd)
y=df_trysingle['Num of death']
glm_model = sm.GLM(y, x_pd, family=sm.families.Poisson())
glm_model_results = glm_model.fit()
print(glm_model_results.summary())

In [ ]:
#try single predictor - 'age_recode_12'
#df_single
#Poisson Distribution
#not dummies
x=df_trysingle['age_recode_12']
x_pd = sm.add_constant(x)
x = sm.add_constant(x_pd)
y=df_trysingle['Num of death']
glm_model = sm.GLM(y, x_pd, family=sm.families.Gaussion())
glm_model_results = glm_model.fit()
print(glm_model_results.summary())

In [ ]:
import statsmodels.api as sm

In [ ]:
age_dummy=['age_recode_12_1', 'age_recode_12_2', 'age_recode_12_3',
       'age_recode_12_4', 'age_recode_12_5', 'age_recode_12_6',
       'age_recode_12_7', 'age_recode_12_8', 'age_recode_12_9',
       'age_recode_12_10', 'age_recode_12_11', 'age_recode_12_12']
x=df_trysingle[age_dummy]
x_pd = sm.add_constant(x)
x = sm.add_constant(x_pd)
y=df_trysingle['Num of death']
glm_model = sm.GLM(y, x_pd, family=sm.families.Poisson())
glm_model_results = glm_model.fit()
print(glm_model_results.summary())

In [ ]:
print([glm_model_results.predict(x_pd), y])

# Group by age, year, education, manner of death, race,sex,marital status, injury at work - single predictor

In [ ]:
df_model.columns

In [ ]:
df_model['113_cause_recode'].unique()

In [ ]:
features=[ 'age_recode_12', 
       'current_data_year', 'education_2003_revision', 'manner_of_death',
       'race_recode_5', 'sex_F', 'sex_M', 'marital_status_D',
       'marital_status_M', 'marital_status_S', 'marital_status_U',
       'marital_status_W', 'injury_at_work_N', 'injury_at_work_U',
       'injury_at_work_Y']

In [ ]:
df_trygroup=df_model.groupby(features).size().reset_index(name="Num of death")

In [ ]:
df_trygroup.head(10)

In [ ]:
df_trygroup.columns

In [ ]:
import statsmodels.api as sm
from sklearn.linear_model import LinearRegression

In [ ]:
#try single predictor - 'age_recode_12'
#df_trygroup

In [ ]:
#try single predictor - 'age_recode_12'
#df_trygroup 
#GLM-Poisson Distribution
x=df_trygroup['age_recode_12']
x_pd = sm.add_constant(x)
x = sm.add_constant(x_pd)
y=df_trygroup['Num of death']
glm_model = sm.GLM(y, x_pd, family=sm.families.Poisson())
glm_model_results = glm_model.fit()
print(glm_model_results.summary())

# Group by age, year, education, manner of death, race,sex,marital status, injury at work - Multiple predictors

In [ ]:
#dummies
all_features=['39_cause_recode_1', '39_cause_recode_2', '39_cause_recode_3',
       '39_cause_recode_5', '39_cause_recode_6', '39_cause_recode_7',
       '39_cause_recode_8', '39_cause_recode_9', '39_cause_recode_10',
       '39_cause_recode_11', '39_cause_recode_12', '39_cause_recode_13',
       '39_cause_recode_14', '39_cause_recode_15', '39_cause_recode_16',
       '39_cause_recode_17', '39_cause_recode_20', '39_cause_recode_21',
       '39_cause_recode_22', '39_cause_recode_23', '39_cause_recode_24',
       '39_cause_recode_25', '39_cause_recode_26', '39_cause_recode_27',
       '39_cause_recode_28', '39_cause_recode_29', '39_cause_recode_30',
       '39_cause_recode_31', '39_cause_recode_32', '39_cause_recode_33',
       '39_cause_recode_34', '39_cause_recode_35', '39_cause_recode_36',
       '39_cause_recode_37', '39_cause_recode_38', '39_cause_recode_39',
       '39_cause_recode_40', '39_cause_recode_41', '39_cause_recode_42',
       'age_recode_12_1', 'age_recode_12_2', 'age_recode_12_3',
       'age_recode_12_4', 'age_recode_12_5', 'age_recode_12_6',
       'age_recode_12_7', 'age_recode_12_8', 'age_recode_12_9',
       'age_recode_12_10', 'age_recode_12_11', 'age_recode_12_12',
       'current_data_year_2005', 'current_data_year_2006',
       'current_data_year_2009', 'current_data_year_2010',
       'current_data_year_2011', 'current_data_year_2012',
       'current_data_year_2013', 'current_data_year_2014',
       'current_data_year_2015', 'education_2003_revision_1.0',
       'education_2003_revision_2.0', 'education_2003_revision_3.0',
       'education_2003_revision_4.0', 'education_2003_revision_5.0',
       'education_2003_revision_6.0', 'education_2003_revision_7.0',
       'education_2003_revision_8.0', 'education_2003_revision_9.0',
       'injury_at_work_N', 'injury_at_work_U', 'injury_at_work_Y',
       'manner_of_death_1.0', 'manner_of_death_2.0', 'manner_of_death_3.0',
       'manner_of_death_4.0', 'manner_of_death_5.0', 'manner_of_death_7.0',
       'marital_status_D', 'marital_status_M', 'marital_status_S',
       'marital_status_U', 'marital_status_W', 'race_recode_5_1',
       'race_recode_5_2', 'race_recode_5_3', 'race_recode_5_4', 'sex_F',
       'sex_M']

In [ ]:
df_multidum=df_model1.groupby(all_features).size().reset_index(name="Num of death")

In [ ]:
df_multidum.head(10)

In [ ]:
#have dummies
x=df_multidum[all_features]
y=df_multidum['Num of death']
glm_model = sm.GLM(y, x, family=sm.families.Poisson())
glm_model_results = glm_model.fit()
print(glm_model_results.summary())

In [ ]:
#try multiple predictors
#Gaussian Distribution
X=sm.add_constant(df_trygroup[features])
y=df_trygroup['Num of death']
glm_model = sm.GLM(y, X, family=sm.families.Gaussian())
glm_model_results = glm_model.fit()
print(glm_model_results.summary())

In [ ]:
#try multiple predictors
#Poisson Distribution
X=sm.add_constant(df_trygroup[features])
y=df_trygroup['Num of death']
glm_model = sm.GLM(y, X, family=sm.families.Poisson())
glm_model_results = glm_model.fit()
print(glm_model_results.summary())

# Look at variable significance through visualisations

In [ ]:
df1.head(5)

In [ ]:
features1=['age_recode_12','current_data_year','education_2003_revision']

In [ ]:
df_nondum=df1.groupby(features1).size().reset_index(name="Num of death")

In [ ]:
df_nondum

In [ ]:
import matplotlib.pyplot as plt
plt.scatter(df_nondum['age_recode_12'], df_nondum['Num of death'])
plt.title('Scatter plot')
plt.show()

In [ ]:
df_age=df1.groupby('age_recode_12').size().reset_index(name="Num of death")

In [ ]:
df_age.head(13)

In [ ]:
plt.scatter(df_age['age_recode_12'], df_age['Num of death'])
plt.title('Scatter plot')
plt.show()

In [ ]:
from sklearn.linear_model import LinearRegression
x=df_multidum['age']
y=df_multidum['Num of death']
reg = LinearRegression().fit(x, y)
print ("beta0 is", reg.intercept_[0])
print ("beta1 is",reg.coef_[0][0])

In [ ]:
df.to_csv('df.csv')